@page
@model Client.Pages.Manage.DetailsModel

@{
    ViewData["Title"] = "Details";
}
@if (ViewData["Message"] != null)
{
    <h3 style="color:red">@ViewData["Message"]</h3>
}
<h1>Details</h1>

<div>
    <h4>TattooSticker</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TattooSticker.TattooStickerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TattooSticker.TattooStickerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TattooSticker.ImportDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TattooSticker.ImportDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TattooSticker.TattooStickerDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TattooSticker.TattooStickerDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TattooSticker.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TattooSticker.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TattooSticker.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TattooSticker.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TattooSticker.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TattooSticker.Type.TypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TattooSticker?.TattooStickerId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
